# Menghitung Jarak Data (Tugas 2)

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances
data = pd.read_csv('https://raw.githubusercontent.com/hamam14/pendata/data/data_pekerjaan.csv')
data

   no   nama                nik jenis kelamin    jabatan    pns
0   1  hamam   3522092905030001     laki laki      camat     ya
1   2   haki  35220927080800001     laki laki       staf  tidak
2   3    nur   3522091502030001     perempuan  bendahara     ya
3   5   imam   3522091407020001     laki laki       staf     ya

In [ ]:
X = data[['nik', 'jenis kelamin', 'jabatan', 'pns']].copy()
X['nik'] = pd.Categorical(X['nik']).codes
X['jenis kelamin'] = pd.Categorical(X['jenis kelamin']).codes
X['jabatan'] = pd.Categorical(X['jabatan']).codes
X['pns'] = pd.Categorical(X['pns'], categories=['staf', 'bendahara', 'camat'], ordered=True).codes

In [ ]:
dist_matrix = pairwise_distances(X, metric='manhattan') / max(pairwise_distances(X, metric='manhattan').flatten())

In [ ]:
print(dist_matrix)

[[0.  0.4 0.6 0.6]
 [0.4 0.  1.  0.6]
 [0.6 1.  0.  0.8]
 [0.6 0.6 0.8 0. ]]